@import '../../assets/style/variables';

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: $big;
    color: white;
    background-color: $background;
    margin-bottom: 30px;
    border-radius: 5px;

    &__title {
        display: flex;
        align-items: center;
        height: 52px;
        padding-left: 15px;
        background-color: $red;
        border-radius: 5px;
        margin-bottom: 0px;
        z-index: 10;

        &--txt {
            width: 100%;
            font-size: $big;
            color: white;
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
        }

        &--click {
            color: white;
            width: 32px;
        }
    }

    &__content {
        color: black;
        font-size: $medium;
        font-weight: $normal;
        list-style-type: none;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        padding: 0px 20px;
        max-height: 0;
    }
    
    &__content.open {
        max-height: 100vh;
        padding: 30px 20px 20px;
    }       

    //Mobile version
    @media (max-width: 375px) {
        margin-bottom: 20px;
        &__title {
            height: 30px;
        
            &--txt {
                font-size: $small;
                padding-right: 0px;
            }
        }
        &__content {
            font-size: $small;
            padding-top: 13px;
        }
    }
}

.chevron {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
  }
  
  .chevron.open {
    transform: rotate(0deg);
  }