@import '../../layout/variables';

.lodges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px; 

    //Mobile version
    @media (max-width: 375px) {
        gap: 20px;
    }
}

.card {
    position: relative;
    display: flex;
    width: 340px;
    height: 340px;
    background: $red $gradient;
    border-radius: 25px;
    align-items: flex-end;
    overflow: hidden;

    &__title {
        position: absolute;
        left: 20px;
        color: white;
        font-weight: $bold;
    }

    &__cover {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $gradient;
    }

    //Mobile version
    @media (max-width: 375px) {
        height: 255px;
    }
}