// utils
@import 'variables';

body {
    font-family: $font;
    font-size: $medium;
    font-weight: $normal;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;

    a {
        color: black;
        text-decoration: none;
    }

    //Mobile version
    @media (max-width: 375px) {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;

    }
}